:root {
  --main-background-color: #4470ad;
  --sec-background-color: #6888be;
  --main-button-color: #99afd7;
  --sec-button-color: #233c67;
  --border-color: #ccdbee;
  --main-text-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Mukta', sans-serif;
  background-color: var(--main-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  height: 80vh;
}

.section {
  padding: 1rem 1rem;
}

.section .title,
.section .clock {
  color: var(--main-text-color);
}

.clock {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.clock :first-child,
.clock :last-child {
  width: 100px;
}

.modal-font {
  font-size: 0.75rem;
}

.settings {
  display: flex;
  justify-content: center;
}

.adjust-time {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adjust-button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: var(--main-button-color);
  border-color: transparent;
  color: var(--main-text-color);
  transition: transform ease 0.3s;
}

.button.is-info,
.button.is-info:active,
.button.button.is-info:hover {
  background-color: var(--main-button-color);
}

.button.is-success,
.button.is-success:hover,
.button.is-success:active {
  background-color: var(--sec-button-color);
}

.button.is-success:focus:not(:active) {
  box-shadow: none;
}

.button:hover {
  border-color: transparent;
  color: var(--main-text-color);
  opacity: 0.8;
  transform: translateY(-1px);
}

.button:focus {
  border-color: transparent;
  color: var(--main-text-color);
}

.button[disabled] {
  border-color: transparent;
  background-color: var(--main-button-color);
  text-decoration: none;
}

.modal-card-head {
  background-color: var(--sec-background-color);
  border-bottom: 1px solid var(--border-color);
}

.modal-card-title {
  color: var(--main-text-color);
}

.modal-card-body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

.modal-card-foot {
  background-color: var(--sec-background-color);
}

.modal-background {
  background-color: var(--sec-button-color);
}

body, button, input, select, textarea {
  font-family: 'Mukta', sans-serif;
}

strong {
  color: white;
}

a {
  color: tomato;
}

a:hover {
  color: var(--main-button-color);
}

@media screen and (min-width: 768px) {
  .button.is-small {
    font-size: 1rem;
  }
  .modal-font {
    font-size: 1rem;
  }
}
