body {
  background-color: rgb(56, 54, 54);
  color: beige;
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.timers button {
  border: 1px solid black;
}

#clock span {
  font-size: 7rem;
}

#pomo-adjust {
  display: flex;
  justify-content: center;
}

.adjust-time {
  margin: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
}

.adjust-time span {
  margin: 5px 0 5px 0;
}

.sections {
  align-self: center;
}

footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

p {
  padding: 0;
  margin: 0 0 1rem 0;
}

a:visited {
  color: rgb(58, 124, 223);
}