*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: #36393e;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.section {
  padding: 1rem 1.5rem;
}

.section .title {
  color: white;
}

.section .clock {
  color: white;
}

.clock {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.clock :first-child {
  width: 100px;
}

.clock :last-child {
  width: 100px;
}

.modal-font {
  font-size: 0.75rem;
}

.settings {
  display: flex;
  justify-content: center;
}

.adjust-time {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adjust-button {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.volume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .button.is-small {
    font-size: 1rem;
  }
  .modal-font {
    font-size: 1rem;
  }
}
